body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #1de9b6;
}
#sidebar {
    width: 250px;
    background-color: #00695c;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 60px;
    transition: transform 0.3s ease;
}
#sidebar.hidden {
    transform: translateX(-100%);
}
#sidebar ul {
    list-style: none;
    padding: 0;
}
#sidebar li a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    width: auto;
    height: auto;
}
#sidebar li a:hover {
    background-color: #009688;
}
#sidebar li {
    padding: 15px 20px;
    border-bottom: 1px solid #00695c;
    cursor: pointer;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #00695c;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}
.hamburger {
    font-size: 28px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 60%;
    color: #00695c;
}


.hamburger:hover {
    background-color: #00bcd4;
    color: white;
}



main {
    margin-top: 60px;
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    transition: margin-left 0.3s ease;
}
main.full {
    margin-left: 0;
}
.card {
    background: #f3f4f6;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
header h2 {
    margin: 0 auto;
}
@media (max-width: 768px) {
    main {
        margin-left: 0;
    }
}