<html lang="it">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InjuryPrev</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
<header>
    <div class="hamburger" onclick="toggleSidebar()">☰</div>
    <h2>InjuryPrev - Dashboard</h2>
</header>

<nav id="sidebar" class="hidden">
        <ul>
            <li><a href="home.html">Dashboard</a></li>
            <li><a href="statistics.html">Statistiche</a></li>
        </ul>
</nav>

<main id="main">
    <div class="card">
        <h3>Stato dei dispositivi</h3>
        <p>stato stato.</p>
    </div>
    <div class="card">
        <h3>Metriche in tempo reale</h3>
        <p>misurazioni.</p>
    </div>
</main>



<script>
    const sidebar = document.getElementById('sidebar');
    const main = document.getElementById('main');
    function toggleSidebar() {
        sidebar.classList.toggle('hidden');
        main.classList.toggle('full');
    }
</script>
</body>
</html>
